* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --header: 53px;
}

#header {
  height: var(--header);
}

#menu .item {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  padding: 12px 20px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}
#menu .item:hover {
  background: #333;
  color: #fff;
}


/* banner */
#banner {
  position: relative;
  margin-top: var(--header);
  height: 600px;
  overflow: hidden;
}
#mark-banner {
  position: absolute;
  height: 7px;
  width: 0px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  animation: 8.8s linear markRun infinite;
}

@keyframes markRun {
  0% {
    width: 0;
    visibility: visible;
  }
  90.901% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.parallax {
  position: absolute;
  top: 0;
  transform: translateY(0);
}

#banner .swiper-container {
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s ease, transform 0.3s ease;
  z-index: -1;
}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}
.swiper-slide {
  overflow: hidden;
}
.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.swiper-slide .entity-img {
  display: none;
}

/* end banner */
/* sub banner */
#sub-banner {
  height: 150px;
}

#slogan {
  width: min-content;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 80px;
  font-weight: 200;
  padding: 38px 80px 0;
}

/* arrow  button*/
.btn-arrow {
  position: relative;
  background: #000;
}
.btn-arrow::after {
  position: absolute;
  display: block;
  content: "";
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  border: 1px solid #fff;
  border-top: none;
  border-left: none;
}
.btn-arrow:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn-arrow-normal-size {
  width: 46px;
  height: 46px;
}
.btn-arrow-big-size {
  width: 88px;
  height: 88px;
}

.btn-arrow-left::after {
  transform: translate(-25%, -50%) rotate(135deg);
}
.btn-arrow-right::after {
  transform: translate(-75%, -50%) rotate(-45deg) !important;
}
.btn-arrow-up::after {
  transform: translate(-50%, -25%) rotate(45deg) !important;
}
.btn-arrow-down::after {
  transform: translate(-50%, -75%) rotate(-135deg) !important;
}
/* end arrow  button*/

#sub-banner-title>p {
  font-size: 15px;
}
/* end sub banner */

/* salon */
#salon {
  padding-top: 95px;
}
#salon .col:first-child {
  padding-right: 0;
}
#salon .col:last-child {
  padding-left: 0;
}
/* end salon */

/* our team */
#our-team {
  padding-top: 120px;
}
#our-team .swiper-container .swiper-slide {
  padding: 0 5px;
}
#our-team p {
  margin-top: 20px;
  padding-right: 90px;
  font-size: 15px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
#our-team h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 54px;
  font-weight: 200;
  line-height: normal;
}
#our-team .card-body {
  padding: 10px 0 0 !important;
}
#our-team .card-body h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 200;
}
#our-team .card-body p {
  padding: 0;
  margin: 0;
}

#btn-ctrl-our {
  padding-bottom: 7px;
  margin-right: 17px;
}
/* end our team */

/* cut */
#cut {
  padding-top: 95px;
}
.tbl {
  margin-bottom: 40px;
}
.tbl h2 {
  margin-bottom: 31px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 45px;
}
.tbl table {
  margin-top: 42px;
}
.tbl td {
  padding: 12px 25px 11px;
  font-size: 15px;
}
.tbl th {
  padding: 12px 25px 6px;
}
/* end cut */

/* appointment */
#appointment {
  padding-top: 95px;
}
#inner-appointment {
  padding: 80px 40px;
  background-image: url(../images/appointment/123.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-attachment: fixed;
  color: #fff;
}
#appointment-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 54px;
  margin-bottom: 30px;
}
#appointment form {
  margin-top: 70px;
  font-size: 15px;
}
#appointment-btn {
  /* position: absolute; */
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
  color: #000;
  background: #fff;
  padding: 6px 24px;
  border: 1px solid #fff;
}
#appointment-btn:hover {
  background: none;
  color: #fff;
}
/* end appointment */