* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

:root {
  --header: 53px;
}

#header {
  height: var(--header);
}

#menu .item {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  padding: 12px 20px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}
#menu .item:hover {
  background: #333;
  color: #fff;
}


/* banner */
#banner {
  position: relative;
  margin-top: var(--header);
  height: 600px;
  overflow: hidden;
}
#mark-banner {
  position: absolute;
  height: 7px;
  width: 0px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}
@keyframes widthChange {
  form {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.parallax {
  position: absolute;
  top: 0;
  transform: translateY(0);
}

#banner .swiper-container {
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s ease, transform 0.3s ease;
  z-index: -1;
}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}
.swiper-slide {
  overflow: hidden;
}
.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.swiper-slide .entity-img {
  display: none;
}

/* end banner */
/* sub banner */
#sub-banner {
  height: 150px;
}

#slogan {
  width: min-content;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 80px;
  font-weight: 200;
  padding: 38px 80px 0;
}

/* arrow  button*/
.btn-arrow {
  position: relative;
  background: #000;
}
.btn-arrow::after {
  position: absolute;
  display: block;
  content: "";
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  border: 1px solid #fff;
  border-top: none;
  border-left: none;
}
.btn-arrow:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn-arrow-small-size {
  width: 30px;
  height: 30px;
}
.btn-arrow-normal-size {
  width: 46px;
  height: 46px;
}
.btn-arrow-media-size {
  width: 70px;
  height: 70px;
}
.btn-arrow-big-size {
  width: 88px;
  height: 88px;
}

.btn-arrow-round {
  border-radius: 50%;
  box-shadow: 0px 0px 1px 2px #fff inset;
}
.btn-arrow-close:before, 
.btn-arrow-close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 50%;
  background-color: #F0F0F0;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top left;
  content: '';
}
.btn-arrow-close:after {
  transform: rotate(-45deg) translate(-50%, -50%);
}

.btn-arrow-left::after {
  transform: translate(-25%, -50%) rotate(135deg);
}
.btn-arrow-right::after {
  transform: translate(-75%, -50%) rotate(-45deg) !important;
}
.btn-arrow-up::after {
  transform: translate(-50%, -25%) rotate(-135deg) !important;
}
.btn-arrow-down::after {
  transform: translate(-50%, -75%) rotate(45deg) !important;
}
/* end arrow  button*/

#sub-banner-title>p {
  font-size: 15px;
}
/* end sub banner */

/* salon */
#salon {
  padding-top: 95px;
}
#salon .col:first-child {
  padding-right: 0;
}
#salon .col:last-child {
  padding-left: 0;
}
/* end salon */

/* our team */
#our-team {
  padding-top: 120px;
}
.member-contact {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  transition: all linear 0.3s;
  visibility: hidden;
  opacity: 0;
}
#our-team img:hover ~ .member-contact, 
.member-contact:hover {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.member-contact a {
  display: block;
  color: #fff !important;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 15px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 4px;
}
.member-contact a:hover {
  color: #333 !important;
  background: #fff;
}
#our-team .swiper-container .swiper-slide {
  padding: 0 5px;
}
#our-team p {
  margin-top: 20px;
  padding-right: 90px;
  font-size: 15px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
#our-team h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 54px;
  font-weight: 200;
  line-height: normal;
}
#our-team .card-body {
  padding: 10px 0 0 !important;
}
#our-team .card-body h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 200;
}
#our-team .card-body p {
  padding: 0;
  margin: 0;
}

#btn-ctrl-our {
  padding-bottom: 7px;
  margin-right: 17px;
}
/* end our team */

/* cut */
#cut {
  padding-top: 95px;
}
.tbl {
  margin-bottom: 40px;
}
.tbl h2 {
  margin-bottom: 31px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 45px;
}
.tbl table {
  margin-top: 42px;
}
.tbl td {
  padding: 12px 25px 11px;
  font-size: 15px;
}
.tbl th {
  padding: 12px 25px 6px;
}
/* end cut */

/* appointment */
#appointment {
  padding-top: 95px;
}
#inner-appointment {
  padding: 80px 40px;
  background-image: url(../images/appointment/123.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-attachment: fixed;
  color: #fff;
}
#appointment-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 54px;
  margin-bottom: 30px;
}
#appointment form {
  margin-top: 70px;
  font-size: 15px;
}
#appointment-btn {
  /* position: absolute; */
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
  color: #000;
  background: #fff;
  padding: 6px 24px;
  border: 1px solid #fff;
}
#appointment-btn:hover {
  background: none;
  color: #fff;
}
/* end appointment */

/* excellence */
#excellence {
  margin-top: 100px;
  height: 640px;
  overflow: hidden;
}
#excellence .title {
  font-size: 54px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#bg-img-excellence {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/excellence/parallax-bg.jpg);
  background-position: center top;
  background-size: cover;
}
/* end excellence */
/* validation */
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: white !important;
  background-image: none;
  padding-right: 12px;
}
.form-control.is-valid, .was-validated .form-control:valid {
  border-color: white;
  background-image: none;
  padding-right: 12px;
}
.form-control.is-valid, .was-validated .form-control:valid {
  border-color: white !important;
}
.form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
  border-color: white !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  padding-right: 36px;
}
/* end validation */

/* portrodio */
#portfolio {
  padding-top: 100px;
  padding-bottom: 11px;
}
#portfolio .title {
  font-size: 54px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 40px;
}
#portfolio .active {
  background: black !important;
  color: #fff !important;
}
#portfolio .filter {
  margin: 0 5px;
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  padding: 8px 20px;
  background: #f3f3f3;
  transition: 0s all;
}
#portfolio .filter:hover {
  background: black !important;
  color: #fff !important;
}
#portfolio .btn-check:focus+.btn, .btn:focus {
  box-shadow: none;
}

#portfolio .card-body {
  background: rgba(0, 0, 0, 0.7);
  transition: all linear 0.3s;
  opacity: 0;
  visibility: hidden;
}
#portfolio .card:hover .card-body {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}
#portfolio .card-title {
  font-size: 36px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* modal */
#overlay-portfolio:checked ~ .custom-modal {
  opacity: 1;
  visibility: visible;
}
#overlay-portfolio:checked ~ .custom-modal .main-slide {
  opacity: 1;
  visibility: visible;
}

.custom-modal {
  position: fixed;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all linear 0.3s;
}

.inner-custom-modal {
  position: absolute;
  background: #f3f3f3;
  border-radius: 4px;
  padding: 15px;
  max-height: 95vh;
  opacity: 0;
  transition: all linear 0.3s;
  visibility: hidden;
}
.inner-custom-modal img {
  max-height: calc(95vh - 30px) !important;
}

.custom-modal .left, 
.custom-modal .right {
  position: absolute;
  width: 50%;
  top: 15px;
  bottom: 15px;
  cursor: pointer;
}
.custom-modal .left {
  left: 15px;
}
.custom-modal .right {
  right: 15px;
}
.custom-modal .btn-arrow-close:hover {
  background: #333;
}
.custom-modal .btn-arrow::after {
  border-width: 3px;
}

@keyframes rightIn {
  from {
    transform: translateX(50%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes rightOut {
  from {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
  to {
    visibility: hidden;
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes leftIn {
  from {
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leftOut {
  from {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
  to {
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
  }
}
.rightIn {
  animation: 0.3s rightIn linear forwards;
}
.rightOut {
  animation: 0.3s rightOut linear forwards;
}
.leftIn {
  animation: 0.3s leftIn linear forwards;
}
.leftOut {
  animation: 0.3s leftOut linear forwards;
}
/* end modal */
/* end portrodio */
/* promotions */
#promotions {
  padding-top: 95px;
}
#promotions .inner-promorions {
  background-color: #333;
  padding: 75px 60px 110px;
}
#promotions .title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 54px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
#promotions .wrap-description {
  background: #fff;
  padding: 40px;
  padding-right: 4px;
}

#promotions .carousel-item .title {
  margin-bottom: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #333;
  text-align: left;
}
#promotions .carousel-item .content {
  padding: 0 0 0 4px;
  color: #333;
  line-height: 24px;
  font-size: 15px;
  color: #333;
}
/* end promotions */

/* showreel */
#showreel {
  padding-top: 95px;
  margin-bottom: 100px;
}
#showreel .title {
  border-bottom: 15px;
  font-size: 54px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 54px;
}
/* end showreel */

/* testimonials */
#testimonials {
  padding-top: 95px;
  margin-bottom: 100px;
}
.inner-testimonials {
  padding: 60px 70px 75px;
  background: #f3f3f3;
}
.inner-testimonials .title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 54px;
  margin-bottom: 45px;
  text-align: center;
}
.inner-testimonials .info {
  padding: 4%;
  background: #fff;
  margin-right: 46px;
}
.inner-testimonials .job {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}
.inner-testimonials .specific {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 20px;
  font-weight: 200;
  color: #000;
  font-size: 20px;
  margin: 5px 0 15px;
}
.inner-testimonials .descript {
  line-height: 24px;
}
/* end testimonials */

/* contact */
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('../images/contact/footerbg.jpg');
}
#contact .title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 54px;
  margin-bottom: 25px;
}
#contact .contact-info {
  padding: 54px 0px 54px 20px;
}
#contact .social-icon {
  margin-top: 20px;
}
#contact .social-icon a {
  color: #333;
  border-radius: 50%;
  border: 2px solid #333;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 4px;
  margin-bottom: 8px;
  line-height: 36px;
  text-align: center;
}

#contact .submit {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
  border: 1px solid white;
  font-weight: 200;
}
#contact .submit:hover {
  background: none;
  color: white;
}
/* end contact */

.form-control:focus {
  border-color: #fff;
  box-shadow: none;
}

#scroll-up {
  position: fixed;
  right: 30px;
  bottom: 50px;
  border: 1px solid #fff;
  height: 48px;
  overflow: hidden;
  background: #000;
  transition: all linear 0.3s;
  visibility: hidden;
}
#scroll-up:hover {
  background: #fff;
  border-color: #000;
}
#scroll-up > div {
  transition: all ease 0.3s;
}
#scroll-up:hover > div {
  transform: translateY(-100%);
}

#scroll-up > div {
  background: none;
}
#scroll-up .bottom::after {
  border-color: #000;
}